body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.info {
    font-size: 2.5rem;
    margin: 1rem;
}

.timer,
.score {
    display: inline-block;
}

/*.container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    background-color: #f8f8f8;*/
/*    padding: 2rem;*/
/*    border-radius: 1rem;*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
/*    width: 50%;*/
/*}*/

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

#question,
#feedback {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

/*.input-container {*/
/*    width: 100%;*/
/*    margin-bottom: 1rem;*/
/*}*/

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#answer {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

#start {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

#start:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

.danger {
    color: #e74c3c;
}

.correct {
    color: #28a745;
}

.incorrect {
    color: #dc3545;
}
